@charset "UTF-8";

@font-face {
    font-family:'Idroid';
    src: url('fontes/idroid.otf') format('opentype');

}

header {
    background-image: linear-gradient(to bottom, rgb(170, 218, 170), darkgreen);
    padding: 10px ;
    width: auto max-content;
    margin: -7px -8px;
}

body {
    background-color: rgb(165, 204, 165);
}

h1{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
    color: azure;
}

h2, h3 {
    font-family: 'Idroid';
    color: rgb(47, 114, 61);
}

h3.itd3 {
    background-image: linear-gradient(to right, rgb(176, 216, 176), white 80%);
    padding: 3px;
    
}

p#pheader {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    color: azure;
    
    
}


p {
    font-family: Arial, Helvetica, sans-serif;
}

main {
    background-color: white;
    padding: 10px;
    box-shadow: 1px 2px 3px 2px rgba(0, 0, 0, 0.486);
    margin: 7px auto;
    border-radius: 0px 0px 7px 7px;
    
}

.pic {
    margin: auto auto;
    width: max-content;
}

.video {
    padding: 10px 20px;
    margin: auto -10px;
    background-color: rgb(86, 116, 57);
    
    
}

h4{
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(92, 150, 105);
    color: azure;
    padding: 10px 10px;
    border-radius: 7px 7px 0px 0px;
}


.divL {
    background-color: rgb(189, 255, 209);
    border-radius: 0px 0px 7px 7px;
    padding: 5px 8px;
    margin: -21px 0px;
    box-shadow: 1px 3px 5px rgba(0, 0, 0, 0.521);
    

}

#despedida {
    margin: 40px 10px;

}

a.ahead {
    color: rgb(255, 255, 255);
    text-decoration: none;
    margin: 5px;
    

}


.ahead:hover {
    background-color: azure;
    color: darkolivegreen ;
    padding: 5px;
    border-radius: 7px;
    text-decoration: none;
}

a {
    text-decoration: none;
    color: rgb(24, 126, 32);

}

a:hover {
    text-decoration: underline;
    color: rgb(20, 117, 20);
}

footer {
    font-family: Arial, Helvetica, sans-serif;
    background-color: darkgreen;
    width:auto max-content;
    margin: -38px -18px;
    text-align: center;
    color: azure;
}